{% extends "base.html" %}

{% block title %}Automobilis{% endblock %}

{% block content %}
{% if car.cover %}
<img src="{{ car.cover.url }}" class="card-img-top mb-3 rounded" style="max-width: 50%" alt="...">
{% endif %}
<p>Savininkas: {{ car.client_name }}</p>
<p>Automobilis: {{ car.make }} {{ car.model }}</p>
<p>Valstybinis Nr.: {{ car.license_plate }}</p>
<p>VIN kodas: {{ car.vin_code }}</p>
<p>Aprašymas: {{ car.description | safe }}</p>
<h3>Taisymai:</h3>
{% for order in car.orders.all %}
<p><a href="{% url 'order' order.pk %}">{{ order.date }}</a></p>
{% endfor %}
{% endblock %}